<div class="jumbotron">
  <h1> Epicodus </h1>
  <h3> Welcome to the jungle!!! We've got fun and games!!! </h3>
  <h4> Don't forget your sunscreen! </h4>
</div>

<a href="/chapters"><button>Go to Chapters</button></a>
<a href="/sections"><button>Go to Sections</button></a>
<a href="/lessons"><button>Go to Lessons</button></a>

<% Chapter.all.each do |chaps| %>
  <h3><%= chaps.name %></h2>
  <% chaps.sections.each do |section| %>
    <h4><%= section.name %></h4>
      <%section.lessons.each do |lesson| %>
        <h5><%= lesson.name %></h5>
      <% end %>
  <% end %>
<% end %>
